body {
  max-width: 75%;
  margin: auto;
}

header {
  background-color: #2e294e;
  color: #fffffa;
  padding: 0.1em;
  font-family: "Oswald", sans-serif;
}

header h1 {
  font-size: 1em;
  text-align: center;
  line-height: 1rem;
}
header h2 {
  font-size: 0.7em;
}

.header1 {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header2 p {
  text-align: center;
  padding: 0.5em;
  background-color: hsl(248, 31%, 35%);
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.main_logo {
  width: 5em;
}

.icon {
  max-width: 1.5em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

nav ul a {
  display: block;
  padding: 0.4rem 2vw;
  text-decoration: none;
  color: #fffffa;
  border-top: 1px solid #fffffa;
  background-color: #0f8b8d;
}

nav ul li.active a {
  background-color: #ec9a29;
  color: #2e294e;
}
nav ul li a:hover {
  background-color: #a8201a;
}

nav ul li a:active {
  background-color: #ec9a29;
  color: #2e294e;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  color: #fffffa;
  font-size: 2rem;
}

main div:not(.hero,#cards) {
  margin: 0.5em;
  background-color: #ec9a29;
  border: 3px solid #2e294e;
}

h3 {
  font-family: "Be Vietnam Pro", "sans-serif";
}

.spots {
  padding: 1em;
}

.spots section {
  padding-bottom: 2em;
  border: 3px solid black;
  border-radius: 10px;
}

.join,
.spotlight3 {
  display: none;
}

footer {
  background-color: #2e294e;
  align-items: center;
  color: #fffffa;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: "Oswald", sans-serif;
  line-height: 0.5rem;
}

footer img {
  max-width: 5em;
}

.personalInfo {
  border-top: 1px solid #fffffa;
  margin-right: 1em;
  margin-left: 1em;
}

.hero {
  margin: 1% 0 1% 0;
  position: relative;
  height: 100%;
  width: auto;

  
}

.hero img{
 height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.hero > h3 {
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 1em;
}

.joinToday {
  position: absolute;
  top: 60%;
  left: 50%;
  background-color: #a8201a;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.1em;
  border-radius: 20px;
  border: 2px solid #ec9a29;
  color: #fffffa;
  font-weight: 500;
  text-decoration: none;
}

#invitation {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 25%;
  background-color: #a8201a;
  padding: 0.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  opacity: 0.7;
  font-size: 1.1em;
  border-radius: 20px;
  border: 2px solid #ec9a29;
  color: #fffffa;
  text-shadow: 3px 3px black;
  font-weight: 900;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  font-family: "Oswald", sans-serif;
  display: none;
}

.event {
  padding: 10px;
  background-color: #ec9a29;
}
.event h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #2e294e;
  text-shadow: 1px 1px #fffffa;
}

.event p {
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

/****   WEATHER   ****/
.weather h3{
  grid-area: 1/1/2/3;
}

.weather {
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr;
}

#current-temp{
  font-size: 3rem;
}

.icon{
  margin: 0 auto;
  
}


#weather-icon {
  margin: auto;
  background-color: skyblue;
  border: #0f8b8d solid 2px;
  border-radius: 100%;
}

.weather figcaption{
  font-size:  1.5rem; 
}

.wind-speed{
  border-top:#2e294e solid 1px;
  margin-left: 1rem;
  padding-top: 2rem;
}

.wind-chill{
  border-top:#2e294e solid 1px;
  margin-right: 1rem;
  padding-top: 2rem;
}

.weather-src{
  grid-area: 4/1/5/3;
  padding-bottom: 1rem;
}
.newRelease {
  background-color: #ec9a29;
}
.newRelease h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #2e294e;
  text-shadow: 1px 1px #fffffa;
}

.newRelease p {
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

.spotlight1 {
  align-items: center;
  text-align: center;
  margin-bottom: 1.3em;
}

.spotlight1 img {
  width: 15rem;
}

.spot1email {
  border-top: 1px solid #2e294e;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.spotlight2 {
  align-items: center;
  text-align: center;
}

.spotlight2 img {
  width: 10rem;
  
}


/****** DISCOVER PAGE *******/
.mainDiscover img[data-src] {
  filter: blur(0.2em);
}
.mainDiscover img {
  max-width: 100%;
  transition: filter 0.5s;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

.mainDiscover h3{
  text-align: center;
  font-family: "Be Vietnam Pro", "sans-serif";
}
.mainDiscover p{
  padding: .5em;
  text-align: justify;
  font-family: "Oswald", sans-serif;
}

.mainDiscover div{
  border-radius: 15px;
}


.lastVisit{
  text-align: center;
  padding-top: 10px;
}

/**** FORM PAGE ****/

.mainJoin{
  max-width: 690px;
  margin: auto;
  display: flex;
  }


form fieldset{
  margin: 2rem 0;
  border: 1px solid #0f8b8d;
  border-radius: 10px;
}

form legend {
  color: #0f8b8d;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label{
  font-family:"Oswald", sans-serif;
  font-weight: bold;
}

form label.top input {
  -wekit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 2px solid #2e294e;
  border-radius: 4px;
  padding: .75rem;
  color: #2e294e;
  width: 90%;
  max-width: 20rem;
  background-color:#ec9a29;
  font-family: "Be Vietnam Pro", "sans-serif";
  margin-bottom: 1rem;
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color:#2e294e;
  font-family: "Be Vietnam Pro", "sans-serif";
  margin-top: 1.5rem;
}

form fieldset{
  margin: 1.5rem 0 1.5rem 0;
}


form fieldset p{
  font-family: "Be Vietnam Pro", "sans-serif";
  margin-top: 0;
}

form input.submit {
  border: none;
  background-color: #a8201a;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 1.5rem 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  font-weight: bold;
  font-family: "Be Vietnam Pro", "sans-serif";
}

form label.top input:required {
  border-left: 6px solid red;
}

form label.top input:required:valid{
  border-left: 6px solid green;
}

/******  THANK YOU PAGE *****/

.mainThankyou{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Be Vietnam Pro", "sans-serif";
}

.mainThankyou img{
  margin: auto;
  width: 13em;
  max-width: 30em;
  
}


.mainThankyou h1{
  font-size: 1.8em;
  margin: .5em;
}

.mainThankyou h2{
  font-size: 1.3em;
  margin: .5em;
}

.mainThankyou h3{
  font-size: 1em;
  margin: .5em;
}

/*** DIRECTORY ***/

.mainDirectory{
  display: block;
  text-align: center;
}

.mainDirectory>div.grid>section{
  text-align: center;
  margin-bottom: 1em;
  border: solid 1px black;
  border-radius: 20px;
  width: 280px;
  background-color: #ec9a29;
}

.mainDirectory>div.list>section{
  justify-content: space-around;
  align-items:center;
  background-color: #ec9a29;
  max-width: 80%;
  margin: 0 auto;
}

.mainDirectory>div.list>section:nth-child(even){
  background-color: #ec9b299d;
}

.mainDirectory>div.list>section>img{
  display: none;
}




.directoryInfo{
  margin: 0;
}

.directoryIcons{
  margin: 1.5rem;
}

.iconMenu, .listMenu {
  border: 3px solid black;
}


.directoryLogo{
  max-width: 180px;
  margin: 1rem auto;
}


.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

.list{
  display:block;  
}




