@media only screen and (min-width: 70rem) {
  header button {
    display: none;
  }

  .header2 nav ul#primaryNav {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

  .main_logo {
    max-width: 20em;
  }

  header h1 {
    font-size: 2.5em;
  }
  header h2 {
    font-size: 2.3em;
    line-height: 1px;
  }

  .icon {
    max-width: 3em;
  }
  nav ul a {
    background-color: #2e294e;
    border: none;
    font-size: 1.5rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .hero {
    grid-area: 1/2/3/4;
    height: 700px;
  }
  .hero img{
    height: 100%;
    width: auto;
  }

  .joinToday {
    top: 40%;
    left: 60%;
  }

  .newRelease {
    grid-area: 3/2/4/4;
  }

  .spots {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: 1/4/4/5;
  }

  .join {
    grid-area: 3/1/4/2;
  }

  .event {
    grid-area: 1/1/2/2;
  }
  .weather {
    grid-area: 2/1/3/2;
  }

  .spotlight3 {
    display: block;
    width: 100%;
    margin-top: 1px;
  }

  .spotlight1,
  .spotlight2 {
    width: 100%;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
  }

  .personalInfo {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
  }

  .joinbtn {
    background-color: #2e294e;
    padding: 0.5em 1.4em;
  }



  .spotlight1 {
    margin-bottom: 1px;
    grid-row: 1/2;
    height: 15em;
  }
  .spotlight2 {
    height: 20em;
    margin-top: 1px;
    margin-bottom: 1px;
    grid-row: 2/3;
  }
  .spotlight3 {
    grid-row: 3/4;
    text-align: center;
    height: 25em;
  }

  .spotlight3 img {
    width: 10rem;
    /** COFFIN 150PX **/
    padding-top: 0;
    padding-bottom: 0;
  }

  .spotlight3 h3 {
    font-size: 1.8rem;
  }
  .spotlight3 h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4rem;
  }


/*----- DISCOVER PAGE ----- -*/

.mainDiscover{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* ------- Wheather ---------*/

.weather h3 {
  padding-top: 3rem;
}

/* ------- DIRECTORY ---------- */


}