:root{
    --blue: #476A6F;
    --green: #7EB09B;
    --pink: #F7DAD9;
    --grey: #C5C9A4;
    --headerFont: 'Cinzel','serif';
    --mainFont: 'EB Garamond', 'serif';
}

.alert{
  background-color: red;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

@keyframes alertMessage{
  0%{right: 0px}
  100%{right: 1110px}
  
}


#alert{
  color: white;
  margin: 0;
  position: relative;
  animation: alertMessage 15s infinite;
  font-family: var(--headerFont);
}
.alert.unvisible{
  display: none;
}
h1,h2,h3{
  font-family: var(--headerFont);
}

p,a{
  font-family: var(--mainFont);
}

.headerName{
    background-color: var(--grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 2rem 0;

}

.headerName h1{
  font-size: 1.5rem;
  text-align: center;
}


.headerLogo{
    background-color: black;
    width: 5rem;
    border-radius: 1em;
    margin-left: 1rem;  
}

.datenbtn{
  border: 1px solid white;
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding:0.5rem;
  font-weight: 800;
  
}

.datenbtn p{
  color: var(--grey);
}

.headerMenu{
  display: block;
  background-color: var(--green);
  padding: 1rem 0 1rem 0;
     
}

.headerMenu.open{
 display: none;
  background-color: var(--green);
  padding: 1rem 0 1rem 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  nav ul a {
    display: block;
    padding: 0.4rem 2vw;
    text-decoration: none;
    font-weight: 800;
    color: black;
    border-top: 1px solid var(--pink);
    background-color: var(--green);
  }
  
  nav ul li a:hover {
    background-color: var(--pink);
  }
  
  nav ul li a:active {
    background-color: var(--blue);
    color: var(--pink);
  }
  
  nav ul {
    display: none;
  }
  nav ul.open {
    display: block;
  }
  
  #hamburgerBtn span:nth-child(1) {
    display: block;
  }
  
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  
  button {
    background-color: transparent;
    border: none;
    color: var(--pink);
    font-size: 2rem;
    padding-right: 1rem;
  }



  .heroImage{
    width: 100%;
    border: solid 1px black;
  }

  .heroImageFigure{
    position: relative;
  }

  .actionBtn{
  position: absolute;
  top: 70%;
  left: 35%;
  background-color: var(--blue);
  opacity: 0.6;
  padding: .5rem;
  font-size: 1.1em;
  border-radius: 20px;
  border: 2px solid var(--pink);
  color: var(--grey);
  font-family: var(--mainFont);
  font-weight: 800;
  text-decoration: none;
  }
  .actionBtn:hover{
    opacity: 1;
  }

  .weatherDiv{
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
  }

  .currentWeather{
    grid-area: 1/1/2/4;
    grid-column: 3 span;
    text-align: center;
    margin-bottom: 1rem;
  }

  .currentWeather p,img{
    margin: 0;
    font-size: 1.5rem;
  }

  #current-temp{
    font-size: 5rem;
  }
  .currentWeather h3{
    margin-bottom: 0;
  }

  .temp{
    font-weight: 800;
    font-size: 1.5rem;
  }

.forecast1{
  grid-area: 2/1/3/2;
  font-size: .8rem;
  margin: 0;
  padding: 0;
}

.forecast2{
  grid-area: 2/2/3/3;
  font-size: .8rem;
  margin: 0;
  padding: 0;
}

.forecast3{
  grid-area: 2/3/3/4;
  font-size: .8rem;
  margin: 0;
  padding: 0;
}


  .forecast1, .forecast2, .forecast3 {
    justify-self: center;
    align-self: center;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 800;
  }
  
  .homeTempleInfo{
    margin-top: 0;
    text-align: center;
  }

  .homeTempleImg{
  margin: 1rem auto;
  display: block;
  width: 100%;
  }
  .hotelInfo, .hotelInfoImg{
    display: none;
  }

  .footer1{
    background-color: var(--green);
  }
  footer{
    background-color: var(--grey);
    text-align: center;
    font-weight: 800;
  }

  .footerLogo{
    border-radius: 10px;
    width: 7rem;
    margin: 1rem auto;
    padding: 2rem;
    display: block;
  }

  .address{
    border-bottom: 3px solid black;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .facebookIcon{
    width: 3rem;
    margin-right: 1rem;
  }

  .instagramIcon{
    width: 3rem;
    border-radius: 100%;
    margin-left: 1rem;
  }

  main{
    max-width: 1300px;
    margin: 0 auto;    
  }

  footer, header{
    max-width: 1500px;
    margin: 0 auto;
  }

 .footer1{
   margin-bottom: 2rem;
 }


 /*** TEMPLE PAGE ***/

 .templeMain{
   display: flex;
   flex-direction: column;
 }

#templeCard h2{
  text-shadow: 5px 5px 5px var(--blue);
  text-align: center;
}


 #templeCard{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
 }

 #templeCard section{
   margin: 1rem;
   padding: 1rem 2rem;
   background-color: var(--pink);
   border: 2px solid var(--blue);
 }

 #templeCard p{
   font-size: 1rem;

 }

 #templeCard img{
   width: 100%;
   margin: 1rem auto;
   border: 1px solid black;
  box-shadow: 10px 10px 10px var(--green);
  border-radius: 10px;
 }

 #templeCard button:hover{
   cursor: pointer;
 }

 #templeCard .liked{
   background-color: var(--grey);  
 }

 #templeCard h2, p{
   color: black;
 }


 /***** RESERVATIONS    ******/

 .titlesReservations{
   text-align: center;
 }

 .titlesReservations img{
   display: none;
 }

 .mainReservations{
  max-width: 1000px;
  margin: auto;
  }

  .mainReservations form{
    margin: 0 auto;
  }



form fieldset{
  margin: 2rem 0;
  border: 2px solid var(--blue);
  border-radius: 10px;
}

form legend {
  color: var(--blue);
  margin: 0 1rem;
  padding: 0 .5rem;
  font-family: var(--headerFont);
}

form label{
  font-family:var(--headerFont);
  font-weight: bold;

}

form input, select, textarea {
  -wekit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 2px solid var(--grey);
  border-radius: 4px;
  padding: .75rem;
  color: var(--blue);
  font-weight: 800;
  width: 90%;
  max-width: 20rem;
  background-color: var(--pink);
  font-family: var(--mainFont);
  margin-bottom: 1rem;
}



form fieldset{
  margin: 1.5rem 0 1.5rem 0;
  font-weight: 800;
}



form input.submit {
  border: none;
  background-color: var(--blue);
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 1rem auto;
  width: 96%;
  max-width: 20rem;
  font-weight: bold;
  font-family: "Be Vietnam Pro", "sans-serif";
}



form input:required:valid, select:valid {
  border-left: 6px solid green;
  border-color: green;
}

/******  THANK YOU PAGE *****/

.mainThankyou{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Be Vietnam Pro", "sans-serif";
}

.mainThankyou img{
  margin: 1rem auto;
  width: 13em;
  max-width: 30em;
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding: 5px;
}


.mainThankyou h1{
  font-size: 1.8em;
  margin: .5em;
}

.mainThankyou h2{
  font-size: 1.3em;
  margin: .5em;
}

.mainThankyou h3{
  font-size: 1em;
  margin: .5em;
}

/***** SERVICES   *****/

#title{
  text-align: center;
}
 .mainServices div{
 
  margin: 2rem;
  padding: 1rem;
}

.mainServices  h3{
margin: 1rem auto;
text-align: center;

}

.mainServices img{
  display: block;
  margin: 1rem auto;
  width: 95%;
  max-width: 450px;
  border: 10px double var(--grey)
}

.services ul{
  margin:1rem 1rem 1rem .5rem;
  text-align: justify;
}


.receptionBtn, .contactBtn{
display: block;
padding: 0.5rem;
border-radius: 10px;
background-color: var(--blue);
color: white;
font-size: 1.5rem;
text-decoration: none;
text-align: center;
}

.receptionBtn:hover, .contactBtn:hover{
background-color: var(--pink);
color: var(--blue);
}

/******* RECEPTIONS  *********/

.mainReceptions h3{
  text-align: center;
}

.mainReceptions p, ul{
  text-align: justify;
  margin: 1rem;
}

.mainReceptions img{
  display: block;
  margin: 1rem auto;
  width: 95%;
  max-width: 450px;
  border: 10px double var(--green);
}

.mainReceptions div{
  margin: 2rem;
  padding: 1rem;
}

/******* CONTACT  *******/

.mainContact h3, p{
  text-align: center;
  margin: 1rem;
}

.mainContact img{
  display: block;
  max-width: 250px;
  margin: 1rem auto;
} 

.mainContact form{
  max-width: 400px;
  margin: 1rem auto;
}