@media only screen and (min-width: 40rem) {

  .datenbtn{
    box-shadow: var(--green) 15px 10px 5px;
}

.headerName h1{
  font-size: 2rem;
}

.datenbtn{
  font-size: 1.5rem;
}


.heroImage{
  border: solid 3px black;
  box-shadow: 15px 10px 5px;

}

    .actionBtn{
        top: 73%;
        left: 40%;
        font-size: 1.3rem;
        }

        .weatherDiv{
            display: flex;
            justify-content: space-around;
          
          }
        
          .currentWeather{
            grid-area: 1/1/2/4;
            grid-column: 3 span;
            text-align: center;
            align-self: center;
            margin-bottom: 1rem;
            font-size: 1.3rem;
          }


          .temp{
            font-size: 2rem;
          }
        
    .forecast1, .forecast2, .forecast3{
      background-color: var(--pink);
      border: 1px solid black;
      font-size: 1.3rem;
    }

    .infoDiv{
        display: flex;
    }

    .homeTempleImg{
        width: 50%
    }

    .homeTempleInfo, .hotelInfo{
      font-size: 1.3rem;
    }

    footer{
        display: grid;
        grid-template-rows: 1fr auto;
        font-size: 1.3rem;
    }
    
    .footer1{
      grid-area: 1/1/2/2;
      display: flex;
      justify-content: space-evenly;
    }

    .footer2{
      grid-area: 2/1/3/2;
      display: flex;
      justify-content: space-evenly;
          
    }
   
        .footerLogo{
          margin: auto 0;
            width: 7rem;
            height: 7rem;
          
          }
  
.hotelData{
  display: flex;
}

.address{

    border-right: 3px solid black;
    border-bottom: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right:3rem;
}

.contactInfo{
  margin-top: 2rem;
  padding-left: 3rem;
}


.socialIcons{
    margin-right: 1rem;
    margin-left: .5rem;
    display: flex;
}

.facebookIcon{
    width: 3rem;
  }

  .instagramIcon{
    width: 3rem;
    border-radius: 100%;
  }



/****   RESERVAIONS *****/

.mainReservations form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content{
  margin: 1rem;
}

.submit{
  grid-column: 1/ span 2;
}

/***** SERVICES   *****/

.mainServices div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainServices div h3{
  grid-area: 1/1/2/3;
  font-size: 1.5rem;
}

.mainServices div img, a, ul{
justify-self: center;
align-self: center;
}

.amenities img{
  grid-area: 2/1/3/2;
}

.receptions img{
  grid-area: 2/2/3/3;
}

.mainServices ul{
  margin: 1rem;
  font-size: 1.1rem;
}



/****** RECEPTIONS   *******/

.mainReceptions div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainReceptions div h3{
  grid-area: 1/1/2/3;
  font-size: 1.5rem;
}

.headlines p{
  grid-area: 2/1/3/3;
  text-align: center;
}

.info{
  justify-self: center;
  align-self: center;
}
.mainReceptions div img, a, ul{
justify-self: center;
align-self: center;
}

.rooms img{
  grid-area: 2/1/3/2;
}

.food img{
  grid-area: 2/2/3/3;
}

.otherServices img{
  grid-area: 2/1/3/2;
}

.mainReceptions ul{
  margin: 1rem;
  font-size: 1.3rem;
}

.mainReceptions p{
  font-size: 1.3rem;
}



/*******  CONTACT  *****/

.mainContact{

  display: flex;
}

.mainContact form{
  width: 450px;
  
}




}