header,
main,
footer {
  max-width: 75%;
  margin: 1.5em auto;
}
body {
  background-color: #2e294e;
}

header {
  font-family: "Teko", sans-serif;
  color: #fffffa;
  text-align: center;
}
header h2 {
  font-size: 3em;
}

header h3,
h1 {
  font-size: 2.5em;
}

header > div > img {
  max-width: 100%;
}

.chamber {
  justify-content: center;
}

header > div,
nav ul {
  display: block;
}

header > nav > ul {
  list-style-type: none;
  background-color: #fffffa;
  padding: 0.5em;
}

header nav ul li {
  font-size: 1.5em;
}

header > nav > ul > li > a {
  color: #2e294e;
  text-decoration: none;
}

header > nav > ul > li:hover,
a:hover {
  background-color: #0f8b8d;
  color: #a8201a;
}
header > nav > ul {
  padding: 1em;
}

header nav ul li {
  font-size: 1.8em;
}

main {
  display: block;
  background-color: #fffffa;
  border: solid #ec9a29 0.3em;
  border-radius: 25px;
  text-align: center;
  padding-bottom: 2em;
  font-family: "Be Vietnam Pro", sans-serif;
}

#blue,
#white,
#red,
#lightblue,
#orange {
  border: solid black;
}

#blue {
  background-color: #2e294e;
  color: #2e294e;
}
#white {
  background-color: #fffffa;
  color: #fffffa;
}
#red {
  background-color: #a8201a;
  color: #a8201a;
}
#lightblue {
  background-color: #0f8b8d;
  color: #0f8b8d;
}
#orange {
  background-color: #ec9a29;
  color: #ec9a29;
}

footer {
  font-family: "Teko", "sans-serif";
  color: #fffffa;
  text-align: center;
  font-size: 1.5em;
}
