header, main, footer{
    max-width: 75%;
    margin: 1.5em auto;
}
body{
    background-color: #2E294E;
}

header{
    font-family: 'Teko',sans-serif;
    color: #FFFFFA;
    text-align: center;
}
header h2{
    font-size: 3em;
}
header h3,h1{
    font-size: 2.5em;
}

header>div>img{
    max-width: 100%;
}

.chamber{
    justify-content: center;
}

header>div,nav ul {
    display: block;
}

header>nav>ul{
    list-style-type: none;
    background-color: #FFFFFA;
    padding: 1em;
}

header nav ul li{
    font-size: 1.8em;
}

header>nav>ul>li>a{
    color: #2e294e;
    text-decoration: none;
}

header>nav>ul>li:hover,a:hover{
    background-color: #0f8b8d;
    color: #A8201A;
}


main{
    display: block;
}

.content{
    display: block;
    margin: 1em;
    background-color: #FFFFFA;
    border: solid #EC9A29 .3em;
    border-radius: 25px;
    text-align: center;
    font-family: 'Be Vietnam Pro','sans-serif';
}

.content>h2{
    font-size: 1.8em;
}

.content>h3{
    font-size: 1.5em;
}
.content>div>h3{
    font-size: 1.5em;
}

.content>div>h2{
    font-size: 1.8em;
}
.content>p{
    font-size: 1.3em;
    margin-left: 1em;
    margin-right: 1em;
}

.content>div>p{
    font-size: 1.3em;
    margin-left: 1em;
    margin-right: 1em;
}

.content>ol>li{
    text-align: left;
    font-size: 1.3em;
    margin-right: 1em;
}

.content>div>img{
    display: block;
    margin: auto;
    max-width: 95%;
}

footer{
    font-family: 'Teko',sans-serif;
    color: #FFFFFA;
    text-align: center;
    font-size: 1.5em;
}