@media screen and (min-width: 60em) {

    header>h1{
        font-size: 4.5em; 
    }
    header>h2{
        font-size: 3.5em;
    }

    header>div>img{
        width: 17em;
    }

    header>div>h3{
        font-size: 3.5em;
    }

    #personas{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #per_head{
        grid-column:span 2;
    }

    section>div>img{
        width: 60%;
    }

   .content>p{
        font-size: 2em ;
    }

    .content>ol>li{
        text-align: left;
        margin-right: 2.5em;
    }

    header>div,nav ul {
        display: flex;
    }

    header>div, nav ul li {
        flex: 1 1 auto;
    }

    .content>h2{
        font-size: 2.3em;
    }
    
    .content>h3{
        font-size: 2em;
    }
    .content>div>h3{
        font-size: 2em;
    }
    
    .content>div>h2{
        font-size: 2.3em;
    }
    .content>p{
        font-size: 1.8em;
        margin-left: 1em;
        margin-right: 1em;
    }
    
    .content>div>p{
        font-size: 1.8em;
        margin-left: 1em;
        margin-right: 1em;
    }
    
    .content>ol>li{
        text-align: left;
        font-size: 1.8em;
        margin-right: 1em;
    }
}