@media only screen and (min-width: 70rem){

    #hamburgerBtn {
        display: none;
      }
    
    #primaryNav {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
      }

      nav ul a{
        border-top: none;
    }


    .headerMenu{
        display: block;
        background-color: var(--green);
        padding: 1rem 0 1rem 0;
           
    }

    main{
        display: grid;
        grid-template-columns:30% 1fr 1fr;
    }

    .heroImageFigure{
        grid-area:1/1/2/4;
    }

    .infoDiv{
        grid-area: 2/2/3/4;
        display: grid;
        grid-template-columns: 65% 1fr;
        align-items: center;
    }

    .hotelInfo, .hotelInfoImg{
        display:block;
    }

    .hotelInfo{
        grid-area: 2/2/3/3;
        padding-left: 1rem;
        
    }

    .homeTempleInfo{
        padding-left: 1rem;       
    }

    .hotelInfoImg{
        width:95%;
        grid-area: 2/1/3/2;
        border-right: 3px solid black;
        padding-right: .5rem;
        margin: 1rem;
    }

    .homeTempleImg{
        width: 95%;
        border-right: 3px solid black;
        padding-right: .5rem;
        margin: 1rem;
    }

    .weatherDiv{
        grid-area: 2/1/3/2;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;            
      }
    
      .currentWeather{
        grid-area: 1/1/2/2;
        text-align: center;
        align-self: center;
      }

    

      .forecast1{
          grid-area: 2/1/3/2;    
    }

      .forecast2{
          grid-area:3/1/4/2;
      }

      .forecast3{
          grid-area: 4/1/5/2;
      }


      .forecast1, .forecast2, .forecast3{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        justify-content:flex-start;
        border: 3px black solid;
        box-shadow: 5px 10px 5px var(--blue);
      }
    



}