@media screen and (min-width: 37.5em) {

  body {
    width: 80%;
    margin: 1.5rem auto;
    background-color: #90a955;
  }

header{
  box-shadow: 10px 10px #4f772d;
  border-radius: 10px;
}

header>h1{
  font-size: 3rem;
}

header>h2{
  font-size: 2rem;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#contrast{
  grid-column: span 2;
}
 
.content{
  border-radius: 25px;
}
.content>h3{
  border-radius:15px  15px 0 0; 
}

.content>h3{
  font-size: 1.5rem;
}

.content> a, h4{
  font-size: 1.4rem;
}

.content>p{
  font-size: 1.3rem;
}

footer{
  border-radius: 10px;
}

footer>p{
  font-size: 1.6rem;
}

}